RFC 6265, which is referenced by RFC 7231, specifically states that "When the user agent receives a Set-Cookie header, the user agent stores the cookie together with its attributes. **Subsequently, when the user agent makes an HTTP request**, the user agent includes the applicable, non-expired cookies in the Cookie header."

IMHO this completely correspond to redirects as it is an automatic follow up request.

You could use [tough-cookie](https://github.com/salesforce/tough-cookie) which implement RFC 6526 to store and apply cookies to redirect requests.

> RFC 6265, which is referenced by RFC 7231,

Yes, but those references within RFC 7231 do not mandate the implementation of RFC 6265.

> "When the user agent receives a Set-Cookie header, the user agent stores the cookie together with its attributes. **Subsequently, when the user agent makes an HTTP request**, the user agent includes the applicable, non-expired cookies in the Cookie header."

That is all correct, and needs to be implemented by libraries that implement RFC 6265.

follow-redirects, however, is an implementation of RFC 7231 Section 6.4; it does not aim to implement any other RFCs.

> You could use [tough-cookie](https://github.com/salesforce/tough-cookie) which implement RFC 6526 to store and apply cookies to redirect requests.

Indeed.